/* ======================================
   FORGOT PASSWORD PAGE
====================================== */

.login-right{

    display:flex;
    justify-content:center;
    align-items:center;

}

.login-form{

    width:100%;
    max-width:420px;

}

.login-form h2{

    color:#f26b21;

}

.subtitle{

    margin-bottom:32px;

}

.signup-text{

    margin-top:24px;

    text-align:center;

}

.signup-text a{

    color:#f26b21;

    text-decoration:none;

    font-weight:600;

}

.signup-text a:hover{

    text-decoration:underline;

}